@import "tailwindcss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.glass-container {
  padding: 30px 50px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.184);
  backdrop-filter: blur(3px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.2);
}

.host-grotesk-aloe {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}